<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<security>
			<ipSecurity allowUnlisted="false">
				<clear/>
				<add ipAddress="127.0.0.1" allowed="true"/>              
				<add ipAddress="192.168.10.10" allowed="true"/>
				<add ipAddress="69.63.128.150" allowed="true" />
				<add ipAddress="10.0.0.0" subnetMask="255.0.0.0" allowed="true" />
				<add ipAddress="173.213.227.192" subnetMask="255.255.255.248" allowed="true" />
				<add ipAddress="104.193.72.32" subnetMask="255.255.255.240" allowed="true" />
			</ipSecurity>
		</security>
	</system.webServer>
</configuration>